<h1>Stupid coaching</h1>
<p>
<blockquote class="blockquote">
  <p class="mb-4"><%= @question  %></p>
  <footer class="blockquote-footer"><cite title="Source Title">You</cite></footer>
</blockquote>
</p>

<blockquote class="blockquote answer">
  <p class="mb-4"><%= @answer  %></p>
  <footer class="blockquote-footer"><cite title="Source Title">Your coach</cite></footer>
</blockquote>
</p>
